@use './reset.min.css';
@use './prism.css';
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

@mixin scroll(){
    &::-webkit-scrollbar{
        width: 1.5rem;
        background-color: transparent;
        margin-top: 1rem;
        background-color: rgba(255,214,96,0.3)
    }
    &::-webkit-scrollbar-thumb{
        background-color: #258ec9;
        border-radius: 1rem;
    }
    &::-webkit-scrollbar-track{
        background-color: transparent;
    }
}

@mixin options(){
    &::before{
        display: block;
        content:'▼';
        position: absolute;
        right: 1rem;
        @content;
    }
}

@mixin ellipse(){
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

@mixin img($urls){
    background-image: url('#{$urls}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@mixin mob(){
    @media (max-width:700px) and (min-width:10px) {
        @content;
    }
}

$blue:rgba(189, 225, 241, 0.4);
$blue-hov:rgb(47, 113, 141, 1);
$wh-bg :rgba(255, 255, 255, 0.8);
$cursors :  url('../image/cursor.png') 2 2, auto;
$pointers :  url('../image/pointer.png') 2 2, auto;
$shadow : 4px 4px 0#fea21d;

:root{
    --cnt-art:4;
    --packman:0.5;
    --percent:0;
}


* ::selection {
    background: #FECB00;   /* 노랑 블럭색 */
    color: #1A1A1A;         /* 진한 텍스트 */
  }
// common
html{
    font-size: min(0.7vw,10px);
    font-family: "IBM Plex Sans KR", sans-serif;
    cursor: $cursors;
    a{
        cursor: $pointers;
    }
    body{
        background-image: url('../image/bg.png');
        position: relative;
        height: 100vh;
        overflow: hidden;
        h1{
            opacity: 0;
            width: 1px;
            height: 1px;
            margin-top: -1px;
            overflow: hidden;
        }
        .wrap{
            width: 90%;
            max-width: 1080px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            padding-top: 4rem;
            position: relative;
            padding-bottom: 4rem;
        }
        #charts{
            width: 30rem !important;
            height: 30rem !important;
            margin: 0 auto;
        }
        .hide{
            display: none;
        }
        .btn-more{
            cursor: $pointers;
            span{
                font-size: 30px;
                cursor: $pointers;
                &:nth-of-type(1){
                    color: yellow;
                }
                &:nth-of-type(2){
                    color: green;
                }
                &:nth-of-type(3){
                    color: orange;
                }
            }
        }
        .opts{
            &::after{
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                cursor: $pointers;
            }
            &.open{
                height: auto;
                &::after{
                    display: none;
                }
                li:hover{
                    color: rgb(47, 113, 141);
                    font-weight: 700;
                }
            }

        }
        .close{
            height: 0;
            overflow: hidden;
        }
    }
}


// chatbot
.robot-response{
    width: 20rem;
    height: 20rem;
    position: absolute;
    border-radius: 50%;
    right: -10rem;
    bottom: 0;
    animation: mov 2s infinite linear;
    cursor: $pointers;
    transition: height 0.5s;
    position: absolute;
    color: transparent;
    .robot{
        position: absolute;
        width: 20rem;
        height: 20rem;
        z-index: 2;
        animation: robot 1.5s infinite;
    }
    &:hover .robot{
        animation: unset;
        left: 0rem;
        @include img('../image/queicons2.png');
        filter: drop-shadow(4px 4px 0px #fc0);
    }
    
    @keyframes robot {
        0%{
            @include img('../image/queicons.png');
        }
        50%{
            @include img('../image/queicons1.png');
        }
        100%{
            @include img('../image/queicons.png');
        }
    }

    .hdr{
        position: inherit;
        display: none;
    }

    .answer{
        margin-top: 8rem;
        display: none;
        height: calc(100vh - 25rem);
        overflow-y: scroll;
        @include scroll();
        li{
            background-color: #fff;
            font-size: 1.5rem;
            line-height: 3rem;
            margin-top: 1rem;
            display: inline-block;
            padding:0 2rem;
            border-radius: 1rem;
            &.ans{
                max-width: 85%;
                word-break: keep-all;
                border-radius: 0 2rem 2rem 2rem;
            }
            &.que{
                width: 100%;
                background-color: transparent;
                padding: 0;
                height: 3rem;
                text-align: right;
                word-break: break-word;
                span{
                    background-color: #dcdfeb;
                    padding: 0 2rem;
                    display: inline-block;
                    border-radius: 2rem;
                    border-radius: 2rem 0rem 2rem 2rem;
                }
            }

            &.others{
                padding: 2rem 1rem;
                display: block;
                width: 100%;
                background-color: transparent;
                border: 4px dotted rgba(255,255,255,0.3);
                span{
                    background-color: rgba(255,255,255,0.4);
                    margin-top: 1rem;
                    line-height: 3rem;
                    border-radius: 1rem;
                    font-size: 1.5rem;
                    display: inline-block;
                    padding: 0 2rem;
                    margin-right: 1rem;
                    display: block;
                    width: fit-content;
                    &:nth-of-type(1){
                        margin-top: 0;
                    }
                    &:hover{
                        background-color: #fff;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    &.open{
        width: 100%;
        height: calc(100% - 1rem);
        border-radius: 0.5rem;
        padding-top: 0;
        animation: unset;
        right: 0;
        color: #000;
        overflow: hidden;
        box-shadow: $shadow;
        *{
            cursor: $cursors;
        }
        &::before{
            content: '';
            display: block;
            width:100%;
            position: absolute;
            top: 0;left: 0;
            height: 8rem;
            background-image: url('../image/bgTop.png');
            background-size: contain;
        }
        .robot{
            display: none;
        }
        .hdr{
            background: #fbc6c8;
            display: block;
            width: 100%;
            padding-top: 2rem;
            margin-top: 8rem;
            color: #fff;
            padding-left: 4rem;
            h3{
                line-height: 5rem;
                font-size: 3rem;
                font-weight: 700;
            }
            p{
                line-height: 3rem;
                font-size: 1.8rem;
            }
            .btn-close{
                position: absolute;
                right: 4rem;
                top: 2rem;
                width: 8rem;
                height: 8rem;
                cursor: $pointers;
                color: transparent;
                background-image: url('../image/cancle.png');
                background-size: contain;
            }
        }
        .answer{
            background: #fbc6c8;
            display: block;
            z-index: 3;
            margin-top:18rem;
            position: relative;
            padding: 4rem;
            padding-top: 0;
            .others{
                span{
                    cursor: $pointers;
                }
            }
            
        }
    } 

}

// detail-pop
.detailed-pops{
    position: absolute;
    width: 100%;
    height: calc(100% - 2rem);
    margin: auto;
    top: 0.8rem;left: 0;
    z-index: 3;
    border-radius: 0.5rem;
    opacity: 1;
    transition: opacity 0.5s;
    box-shadow: $shadow;
    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;left: 0;
        width: 100%;
        height: 8rem;
        background-image: url('../image/bgTop2.png');
        background-size: contain;
    }
    &.expand{
        width: 100%;
    }
    header{
        background-color: #ece1ff;
        margin-top: 8rem;
        padding-top: 3rem;
        padding-left: 3rem;
        h2{
            line-height: 5rem;
            font-size: 3.5rem;
            width: calc(100% - 5rem);
            word-break: normal;
        }
        h4,h3{
            line-height: 4rem;
            font-size: 1.8rem;
        }
        h4{
            span:nth-last-child(1){
                background-color: #dbccf5;
                padding: 0 1rem;
                font-size: 1.3rem;
                border-radius: 1rem;
            }
        }
        p{
            line-height: 4rem;
            font-size: 1.5rem;
            span{
                padding: 0 0.8rem;
                background-color: #5e5dbe;
                color: #fff;
                margin-right: 1rem;
                border-radius: 0.5rem;
            }
        }
    }
    section{
        padding: 3rem;
        height: calc(100% - 27rem);
        overflow-y: scroll;
        @include scroll();
        background-color: #ece1ff;
        .image{
            img{
               width: 100%;
            }
        }
        // 마크다운 스타일들 
        ol{
            >li{
                font-size: 1.4rem;
                font-weight: 600;
                margin-top: 5px;
                margin-left: 0;
                p{
                    margin-left: 0;
                    font-size: 1.2rem;
                }
                >ol{
                    list-style: decimal;
                    li{
                        font-size: 1.2rem;
                        margin-left: 5px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
    .btn-close{
        position: absolute;
        top: 12rem;
        right: 3rem;
        line-height: 5rem;
        font-size: 3.8rem;
        cursor: $pointers;
        color: transparent;
        background-image: url('../image/cancle.png');
        width: 8rem;
        height: 8rem;
        background-size: contain;
    }
    &.close{
        height: 100%;
        z-index: -5;
        opacity: 0;
        transition: opacity 0s;
    }
}


// header-left
.left-wrap{
    width: 100%;
    header{
        display: flex;
        justify-content: space-between;
        &>article{
            width: calc(33.333% - 10px);
            border-radius:0.5rem;
            position: relative;
            border: 1px solid black;
            box-shadow: $shadow;
        }
        .hdr-left{
            background-color: rgba(255,255,255,0.5);
            padding: 2rem;
            overflow: hidden;
            .btns{
                display: flex;
                justify-content: space-between;
                font-size: 1.6rem;
                line-height: 2rem;
                text-transform: capitalize;
                font-weight: 600;
                position: relative;
                .option-list{
                    position: absolute;
                    right: 0;
                    top: 2rem;
                    z-index: 2;
                    width: 30%;
                    text-align: right;
                    font-size: 1.4rem;
                    line-height: 2rem;
                    li{
                        cursor: $pointers;
                        &:hover{
                            color: rgb(47, 113, 141);
                         }
                    }
                }
            }
            .image{
                width:18rem;
                height:18rem;
                border-radius: 50%;
                background-image: url('../image/annie.jpg');
                background-size: 200%;
                background-position: center;
                color: transparent;
                position: relative;
                font-size: 0;
                margin: 0 auto;
                span{
                    color: black;
                    display: block;
                    position: absolute;
                    margin: auto;
                    width: 70%;
                    height: 2.5rem;
                    font-size: 1.4rem;
                    font-weight: 700;
                    line-height: 2.8rem;
                    text-align: center;
                    text-transform: capitalize;
                    bottom: 0;
                    left: 0;right: 0;
                    background-color: #34C759;
                    color: #000;
                    border-radius: 1rem;
                    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
                }  
            }
            .txts{
                h2{
                   line-height: 4rem;
                   font-size: 2rem;
                   width: 100%;
                   text-align: center;
               }
               p{
                line-height: 2rem;
                font-size: 1.5rem;
                width: 100%;
                text-align: center;
                }
            }

            video{
                position: absolute;
                top: -20%;
                left: 0;
                z-index: -1;
                width: 100%;
            }
        }


        .hdr-right{
            position: relative;
            background-color:#C7E9F1;
            .opt{
                width: 10rem;
                height: 10rem;
                position: absolute;
                right: 0;
                bottom: 0; 
                @include img('../image/skill.png');
                cursor: $pointers;
                span{
                    background-color: #33959e;
                    color: #fff;
                    display: none;
                }
                
                &:hover{
                    filter: drop-shadow(4px 4px 0px #fc0);
                    span{
                        display: block;
                    }
                }
                &.tool{
                    @include img('../image/tool.png');
                }
            }
        }

        .hdr-exp{
            background-color: #D9D4F2;
            border-radius: 0.5rem;
            border: 1px solid black;
            box-shadow: $shadow;
            padding: 3rem;
            h3{
                font-size: 2.5rem;
                font-weight: 700;
                color: #4e285f;
                text-align: center;
            }
            ul{
                display: flex;
                margin-top: 1rem;
                li{
                    background-color: #b191eb;
                    color: #fff;
                    font-size: 1.9rem;
                    padding: 0.5rem 1rem;
                    cursor: $pointers;
                    border-radius: 0.5rem 0.5rem 0 0;
                    font-weight: 700;
                    &.sel{
                        background-color: #fcf5fe;
                        color: #433760;
                    }
                }
            }
            .texts{
                background-color: #fcf5fe;
                overflow-y: scroll;
                height: 16rem;
                @include scroll();
                border-radius:0 0.5rem;
                &>div{
                    padding: 1rem;
                    color: #433760;
                    font-weight: 700;
                    display: none;
                    &.selected{
                        display: block;
                    }
                    &.npm{
                        p{
                            height: 7rem;
                            font-size: 2.5rem;
                        }
                    }
                    &.cnts{
                        p{
                            line-height: 7rem;
                            font-size: 2.5rem;
                            display: flex;
                            align-items: center;
                            span{
                                width: calc(100% / 3);
                                &:nth-of-type(1){
                                    font-size: 1.6rem;
                                }
                                &:nth-last-of-type(1){
                                    text-align: right;
                                }
                                &.icons{
                                    display: flex;
                                    align-items: center;
                                    height:2.5rem;
                                    width: 40%;
                                    justify-content: center;
                                    overflow: hidden;
                                    flex-wrap: wrap;                               
                                    i{
                                        background-image: url('../image/robotface.png');
                                        display: inline-block;
                                        width: 25px;height: 25px;
                                        background-size: contain;

                                    }
                                }
                            }
                        }
                    }
                    a{
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        &:hover{
                            span:nth-of-type(1){
                                text-shadow: 2px 2px 0px #fc0;
                                &::after{
                                    content: 'visit npm';
                                    display: inline-block;
                                    background-color: #fc0;
                                    line-height: 3rem;
                                    font-size: 1.5rem;
                                    clip-path: polygon(
                                        0 50%,       /* 화살표 꼭짓점 */
                                        12px 38%,    /* 화살표 위 */
                                        12px 5%,     /* 위 여백 5% */
                                        100% 5%,     
                                        100% 95%,    
                                        12px 95%,    /* 아래 여백 5% */
                                        12px 62%,    /* 화살표 아래 */
                                        0 50%        /* 화살표 꼭짓점 */
                                      );
                                      padding-left: 2.2rem;
                                      padding-right: 1rem;
                                }
                            }
                        }
                        span{
                            display: block;
                            font-size: 2rem;
                            line-height: 3.5rem;
                        }
                        .prog{
                            width:100%;
                            height: 2rem;
                            background-color: #e6dbf0;
                            border-radius: 0.5rem;
                            i{
                                width: 0%;
                                height: 100%;
                                background-color: #433760;
                                border-radius: 0.5rem;
                                display: block;
                            }
                        }
                    }
                    &.ranks.selected{
                        display: flex;
                        flex-wrap: wrap;
                        row-gap: 1rem;
                        p{
                            width: 100%;
                            display: flex;
                            column-gap: 1.5rem;
                            line-height: 2.5rem;
                            font-size: 2rem;
                            cursor: $pointers;
                            i{
                                width: 2.5rem;
                                height: 2.5rem;
                                display: inline-block;
                                background-color: #fc0;
                                border-radius: 50%;
                                text-align: center;
                            }
                            span{
                                &:nth-of-type(1){
                                    display: inline-block;
                                    width: 60%;
                                    @include ellipse();
                                }
                            }
                        }
                    }
                }            
            }
        }
    }
}

// section - cont01
.left-wrap{
    &>section{
        background-color: #ffd6dc;
        border-radius: 0.5rem;
        border: 1px solid black;
        margin-top: 3rem;
        padding: 2rem;
        width: 100%;
        height: calc(100vh - 47rem);
        transition: all 0.5s;
        left: 0;
        bottom: 0;
        box-shadow: $shadow;
        header{
            width: 100%;
            display: block;
            position: relative;
            z-index: 1;
            .chart-prog{
                display: flex;
                justify-content: space-between;
                border-bottom: 5px dotted #9c3264;
                position: relative;

                &.prev{
                    &::before{
                        transform: rotateY(180deg);
                    }
                }

                &::after{
                    content: '';
                    display: block;
                    width: calc(16.66% * var(--packman) - 2.5rem + 0.5%);
                    height: 5px;
                    background-color: #9c3264;
                    left: 0;
                    position: absolute;
                    bottom: -5px;
                    transition: width 1s;
                    transition-timing-function: linear;
                }
                &::before{
                    content: '';
                    display: block;
                    width: 5rem;
                    height: 5rem;
                    position: absolute;
                    left: calc(16.66% * var(--packman) - 2.5rem);
                    z-index: 3;
                    bottom: -2.5rem;
                    animation: packman 1s infinite;
                    background-size: contain;
                    transition: left 1s;
                    transition-timing-function: linear;
                    @keyframes packman {
                        0%{
                            background-image: url('../image/pack1.png');
                        }
                        40%{
                            background-image: url('../image/pack2.png');
                        }
                        100%{
                            background-image: url('../image/pack1.png');
                        }
                    }
                }
                li{
                    width: calc(100% / 3);
                    text-align: center;
                    line-height: 6rem;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    position: relative;
                    color:#9c3264;
                    font-size: 2.5rem;
                    font-weight: 700;
                    cursor: $pointers;
                    &::after{
                        content: '';
                        display: block;
                        width: 2rem;
                        height: 2rem;
                        background-color: #9c3264;
                        position: absolute;
                        margin: auto;
                        left: 0;right: 0;
                        bottom: calc(-1rem - 2.5px);
                        border-radius: 50%;
                    }           
                }
            }
        }
        section{
            height: calc(100% - 8rem);
            overflow-y: scroll;
            @include scroll();
            padding-bottom: 2rem;
            padding-right: 7rem;
            .projects{
                margin-top: 3rem;        

                &[data-year='ALL']{
                    article{
                        display: flex;
                        @for $i from 2026 through 2022{
                            &[data-year='#{$i}']{
                                margin-left: calc((100% / 5) * (2026 - #{$i}));
                            }
                        }
                    }
                }
                @for $i from 2026 through 2022{
                    &[data-year='#{$i}']{
                        article{
                            &[data-year='#{$i}']{
                                display: flex;
                            }
                        }
                    }
                }
                article{
                    overflow: hidden;
                    width: calc(100% / var(--cnt-art));
                    line-height: 3rem;
                    border-radius: 0.5rem;
                    margin-top: 1rem;
                    padding: 0.5rem;
                    position: relative;
                    display: none;
                    align-items: center;
                    transition: all 0.5s;
                    background-color: rgba(255,255,255,0.3);
                    &[data-attr="2"]{
                        margin-left: calc((100% / 3 ));
                    }
                    &[data-attr="3"]{
                        margin-left: calc((100% / 3 )*2);
                    }
                    &:hover{
                        box-shadow: 0.3rem 0.3rem 0rem #fea21d;
                    }
                    .image{
                        color: transparent;
                        font-size: 0;
                        width: 4rem;
                        height: 4rem;
                        background-color: rgb(26, 112, 52);
                        z-index: 0;
                        flex: none;
                    }
                    .texts{
                        margin-left: -2rem;
                        column-gap: 0.5rem;
                        padding-left: 2.5rem;
                        padding-right: 1rem;
                        border-radius: 0 2rem 2rem 0;
                        cursor: $pointers;
                        width: 100%;
                        @include ellipse;
                        h3{
                           @include ellipse;
                           font-size: 2rem;
                           line-height: 3rem;
                           color: #000;
                        }
                        h4{
                            font-size: 1.4rem;
                            line-height: 2rem;
                            color: #333;
                            @include ellipse;
                        }
                        .months,.stmonth{
                            display: none;
                        }
                    }
                }

                &.single{
                    article{
                        width: 100%;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

// right-cont02 삭제예정
.right-wrap{
    width: calc(100% / 12 * 4 - 1.85%);
    background-color: #D9D4F2;
    border-radius: 0.5rem;
    border: 1px solid black;
    height: calc(100vh - 8rem);
    box-shadow: $shadow;
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:  2rem;
        position: relative;
        h2{
            line-height: 4rem;
            font-size: 2rem;
        }
        ul{
            line-height: 2rem;
            font-size: 1.5rem;
            height: 2rem;
            overflow: hidden;
            position: absolute;
            padding-right: 2rem;
            right: 2rem;
            top: 3rem;
            @include options(){
                right: 0;
            };
            li{
                cursor: $pointers;
                text-transform: capitalize;
            }
        }
    }
    section {
        height: calc(100vh - 20rem);
        overflow-y: scroll;
        @include scroll();
        &[data-cat="Personal"]{
            article[data-cat="personal"]{
                display: block;
            }
        }
        &[data-cat="Company"]{
            article:not([data-cat="personal"]){
                display: block;
            }
        }
        article{
            display: none;
            width: 90%;
            margin: 0 auto;
            padding: 2rem 1rem;
            border-bottom: 1px solid #ccc;
            margin-top: 1rem;
            transition: all 0.5s;
            cursor: $pointers;
            .texts{
                h3{
                    line-height: 4rem;
                    font-size: 2.4rem;
                    height: 4rem;
                    @include ellipse();
                }
                p{
                    line-height: 2rem;
                    font-size: 1.4rem;
                }
                .btns{
                    display: flex;
                    column-gap: 1rem;
                    line-height: 1.5rem;
                    font-size: 1.2rem;
                    .btn{
                        background-color: #ccc;
                        padding: 0px 4px;
                        border-radius: 1rem;
                        &:nth-of-type(2){
                            background-color: rgba(62, 122, 164, 0.1);
                        }
                    }
                }
            } 
            &.selected{
                border-radius: 2rem;
                background-color: #fff;
                box-shadow: 1.5rem 1.5rem 0.5rem #ccc;
            }
        }
    }
}


@include mob{
    html{
        font-size: max(0.7vw,8px);
        body{
            overflow: scroll;
            .wrap{           
                display: block;
            }
        }
    }

    
    .left-wrap {
        width: 100%;
        header{
            display: block;
            row-gap: 5rem;
            width: 100%;
           >article{
            width: 100%;
            margin-top: 2.5rem;
            &:nth-of-type(1){
                margin-top: 0;
            }
           }
           .hdr-left{
               video{
                margin: auto;
                right: 0;
                width: 100%;
                height: auto;
               }
           } 
        }
        &>section{
            display: flex;
            height: calc(100vh - 40rem);
            header{
                width: 20%;
                .chart-prog{
                    border-bottom: 0px solid transparent;
                    border-left: 5px dotted #9c3264;
                    display: block;
                    text-align: center;
                    &::after{
                        width: 5px;
                        top: 0;
                        left: -5px;
                        height: calc(16.66%*var(--packman) - 2.5rem);
                        transition: height 0.5s;
                    }
                    &::before{
                        left: -18px;
                        top: calc(16.66%*var(--packman) - 2.5rem);
                        transition: top 0.5s;
                    }
                    li{
                        width: 100%;
                        padding-left: 10px;
                        &::after{
                            left: -10px;
                            right: auto;
                            bottom: 2rem;
                        }
                    }
                }
            }
            section{
                width: calc(80% - 10px);
                margin-left: 10px;
                padding: 0;
                height: 100%;
                .projects{
                    &[data-year='ALL']{
                        article{
                            display: flex;
                            align-items: center;
                            @for $i from 2026 through 2021{
                                &[data-year='#{$i}']{
                                    margin-left: 0;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    .robot-response{
        position: fixed;
        bottom: 2rem;
        right: 0;
        z-index: 3;
        width: 10rem;
        height: 10rem;
        .robot{
            width: 10rem;
            height: 10rem;
        }
        &.open{
            width: 100vw;
            height: 100dvh;
            bottom: 0;
            .hdr{
                h3{
                    font-size: 2.3rem;
                }
            }
        }
        .answer{
            height: calc(100vh - 18rem);
        }
    } 

    .right-wrap{
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .detailed-pops{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
    }
}

// 마크다운 스타일
$font-base: 1.5rem;       // 14px
$font-heading: 2rem;      // 20px
$font-subheading: 1.6rem; // 16px
$line-height: 2.2rem;     // 22px
$padding: 2rem;
$radius: 0.8rem;
$gray: #f4f4f4;
$gray-dark: #e0e0e0;
$code-font: 'Fira Code', monospace;
$font-default: 'Pretendard', sans-serif;

md-block {
  font-family: $font-default;
  font-size: $font-base;
  line-height: $line-height;
  color: #1e1e1e;
  border-radius: $radius;

  h2 {
    font-size: $font-heading;
    font-weight: 700;

  }

  h3 {
    font-size: $font-subheading;
    font-weight: 600;
    margin: 2rem 0 1rem;
    color: #333;
    line-height: 4rem;
  }

  p {

    margin: 0.8rem 0;
  }

  ul {
    margin: 1rem 0;
    padding-left: 3.6rem;
    list-style: square;

    li {
      margin-bottom: 0.6rem;
      line-height: $line-height;
    }
  }
  ol{
    list-style:armenian;
    padding-left: 1.6rem;
  }

  strong {
    font-weight: 600;
    color: #111;
    font-size: $font-base;
  }

  code {
    padding: 0.2rem 0.4rem;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    color: #c7254e;
    font-family: $code-font;
  }

  pre {
    padding: 1.2rem;
    border-radius: 0.6rem;
    overflow-x: auto;
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 1.2rem 0;

    code {
      font-family: $code-font;
      color: #fff;
    }
  }
  .pics{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 2rem;
    a{
        width:calc(50% - 10px);
        display: block;
        img{
            width: 100%;
        }
    }
  }


  hr {
    border: none;
    border-top: 1px solid #e4e4e4;
    margin: 2rem 0;
  }

  a {
    color: #1a73e8;
    text-decoration: underline;
    font-weight: 500;
  }
}
