@use './reset.min.css';
@use './prism.css';
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

@mixin scroll(){
    &::-webkit-scrollbar{
        width: 1.5rem;
        background-color: transparent;
        margin-top: 1rem;
    }
    &::-webkit-scrollbar-thumb{
        background-color: rgb(74, 112, 128,0.2);
        border-radius: 1rem;
    }
    &::-webkit-scrollbar-track{
        background-color: transparent;
    }
}

@mixin options(){
    &::before{
        display: block;
        content:'▼';
        position: absolute;
        right: 1rem;
        @content;
    }
}

@mixin ellipse(){
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

@mixin img($urls){
    background-image: url('#{$urls}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@mixin mob(){
    @media (max-width:700px) and (min-width:10px) {
        @content;
    }
}

$blue:rgba(189, 225, 241, 0.4);
$blue-hov:rgb(47, 113, 141, 1);
$wh-bg :rgba(255, 255, 255, 0.8);


:root{
    --cnt-art:4;
}
// common
html{
    font-size: min(0.7vw,10px);
    font-family: "Gowun Dodum", sans-serif;
    body{
        background-color: #e0e2e9;
        position: relative;
        h1{
            opacity: 0;
            width: 1px;
            height: 1px;
            margin-top: -1px;
            overflow: hidden;
        }
        .wrap{
            width: 90%;
            max-width: 1080px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            padding-top: 4rem;
            position: relative;
        }
        #charts{
            width: 30rem !important;
            height: 30rem !important;
            margin: 0 auto;
        }
        .hide{
            display: none;
        }
        .btn-more{
            cursor: pointer;
        }
        .opts{
            &::after{
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                cursor: pointer;
            }
            &.open{
                height: auto;
                &::after{
                    display: none;
                }
                li:hover{
                    color: rgb(47, 113, 141);
                    font-weight: 700;
                }
            }

        }
        .close{
            height: 0;
            overflow: hidden;
        }
    }
}


// chatbot
.robot-response{
    width: 10rem;
    height: 10rem;
    position: absolute;
    border-radius: 50%;
    right: 0;bottom: 0;
    animation: mov 2s infinite linear;
    cursor: pointer;
    overflow: hidden;
    transition: height 0.5s;
    position: absolute;
    color: transparent;
    .robot{
        position: absolute;
        width: 10rem;
        height: 10rem;
        z-index: 2;
        @include img('../image/queicons.png');
    }
    .hdr{
        position: inherit;
        display: none;
    }

    .answer{
        margin-top: 8rem;
        display: none;
        height: calc(100vh - 20rem);
        overflow-y: scroll;
        @include scroll();
        li{
            background-color: #fff;
            font-size: 1.5rem;
            line-height: 3rem;
            margin-top: 1rem;
            display: inline-block;
            padding:0 2rem;
            border-radius: 2rem;
            &.ans{
                max-width: 85%;
                word-break: keep-all;
                border-radius: 0 2rem 2rem 2rem;
            }
            &.que{
                width: 100%;
                background-color: transparent;
                padding: 0;
                height: 3rem;
                text-align: right;
                word-break: break-word;
                span{
                    background-color: #dcdfeb;
                    padding: 0 2rem;
                    display: inline-block;
                    border-radius: 2rem;
                    border-radius: 2rem 0rem 2rem 2rem;
                }
            }

            &.others{
                padding: 0;
                display: block;
                width: 100%;
                margin-top: 1rem;
                background-color: transparent;
                span{
                    background-color: rgba(255,255,255,0.4);
                    margin-top: 1rem;
                    line-height: 3rem;
                    border-radius: 1rem;
                    font-size: 1.5rem;
                    display: inline-block;
                    padding: 0 2rem;
                    margin-right: 1rem;
                    display: block;
                    width: fit-content;
                    &:hover{
                        background-color: #fff;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    &.open{
        width: calc(100% / 12 * 4);
        height: calc(100% - 4rem);
        background: rgba(189, 225, 241, 1);
        border-radius: 2rem;
        padding:  0 4rem;
        padding-top: 0;
        animation: unset;
        color: #000;
        -webkit-tap-highlight-color :transparent;
        cursor: auto;
        .robot{
            display: none;
        }
        .hdr{
            display: block;
            width: calc(100% - 6rem);
            padding-top: 2rem;
            background-color: rgba(189, 225, 241, 1);
            h3{
                line-height: 2rem;
                font-size: 1.8rem;
            }
            p{
                line-height: 2.5rem;
                font-size: 1.4rem;
            }
            .btn-close{
                position: absolute;
                right: 2rem;
                top: 2rem;
                font-size: 3rem;
                cursor: pointer;
            }
        }
        .answer{
            display: block;
            .others{
                span{
                    cursor: pointer;
                }
            }
            
        }
    } 

}

// detail-pop
.detailed-pops{
    position: absolute;
    width: 100%;
    // width: calc(100% / 12 * 8 );
    height: calc(100% - 4rem);
    background-color: #fff;
    margin: auto;
    top: 4rem;left: 0;
    z-index: 3;
    border-radius: 3rem;
    padding: 3rem;
    padding-right: 2rem;
    opacity: 1;
    transition: opacity 0.5s;
    box-shadow: 1rem 1rem 2rem #ccc;
    &.expand{
        width: 100%;
    }
    header{
        h2{
            line-height: 5rem;
            font-size: 3.5rem;
            width: calc(100% - 5rem);
            word-break: normal;
        }
        h4,h3{
            line-height: 4rem;
            font-size: 1.8rem;
        }
        h4{
            span:nth-last-child(1){
                background-color: #ccc;
                padding: 0 1rem;
                font-size: 1.3rem;
                border-radius: 1rem;
            }
        }
        p{
            line-height: 4rem;
            font-size: 1.5rem;
            span{
                padding: 0 0.5rem;
                background-color: rgba(62, 122, 164, 0.1);
                margin-right: 1rem;
                border-radius: 1rem;
            }
        }
    }
    section{
        height: calc(100% - 20rem);
        overflow-y: scroll;
        @include scroll();
        .image{
            img{
               width: 100%;
            }
        }
        // 마크다운 스타일들 
        ol{
            >li{
                font-size: 1.4rem;
                font-weight: 600;
                margin-top: 5px;
                margin-left: 0;
                p{
                    margin-left: 0;
                    font-size: 1.2rem;
                }
                >ol{
                    list-style: decimal;
                    li{
                        font-size: 1.2rem;
                        margin-left: 5px;
                        font-weight: 400;
                    }
                }
            }
        }
        p{
            margin-left: 5px;
            font-size: 1.3rem;
        }
    }
    .btn-close{
        position: absolute;
        top: 3rem;
        right: 3rem;
        line-height: 5rem;
        font-size: 3.8rem;
        cursor: pointer;
    }
    &.close{
        height: 100%;
        z-index: -5;
        opacity: 0;
        transition: opacity 0s;
    }
}


// header-left
.left-wrap{
    width: calc((100% / 12) * 8 - 1.85%);
    header{
        display: flex;
        justify-content: space-between;
        &>article{
            width: calc(50% - 10px);
            border-radius:2.5rem;
            position: relative;
        }
        .hdr-left{
            background-color: rgba(255, 255, 255, 0.8);
            padding: 2rem;
            overflow: hidden;
            .btns{
                display: flex;
                justify-content: space-between;
                font-size: 1.6rem;
                line-height: 2rem;
                text-transform: capitalize;
                font-weight: 600;
                position: relative;
                .option-list{
                    position: absolute;
                    right: 0;
                    top: 2rem;
                    z-index: 2;
                    width: 30%;
                    text-align: right;
                    font-size: 1.4rem;
                    line-height: 2rem;
                    li{
                        cursor: pointer;
                        &:hover{
                            color: rgb(47, 113, 141);
                         }
                    }
                }
            }
            .image{
                width:15rem;
                height:15rem;
                border-radius: 50%;
                background-image: url('../image/annie.jpg');
                background-size: 200%;
                background-position: center;
                color: transparent;
                position: relative;
                font-size: 0;
                margin: 0 auto;
                span{
                    color: black;
                    display: block;
                    position: absolute;
                    margin: auto;
                    width: 70%;
                    height: 2.5rem;
                    font-size: 1.4rem;
                    font-weight: 700;
                    line-height: 2.5rem;
                    text-align: center;
                    text-transform: capitalize;
                    bottom: 0;
                    left: 0;right: 0;
                    background-color: #fff;
                    border-radius: 1rem;
                    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
                    &::before{
                        content:'';
                        display: inline-block;
                        width: 1rem;
                        height: 1rem;
                        background-color: greenyellow;
                        border-radius: 50%;
                        margin-right: 2px;
                    }
                }  
            }
            .txts{
                h2{
                   line-height: 4rem;
                   font-size: 2rem;
                   width: 100%;
                   text-align: center;
               }
               p{
                line-height: 2rem;
                font-size: 1.5rem;
                width: 100%;
                text-align: center;
                }
            }

            video{
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                height: 100%;
            }
        }


        .hdr-right{
            position: relative;
            background-color: #fff;
            .opts{
                padding: 0 1.5rem 0 1rem;
                text-align: center;
                width: 20%;
                top: 2rem;
                right: 2rem;
                line-height: 2rem;
                font-size: 1.3rem;
                text-transform: capitalize;
                height: 2rem;
                overflow: hidden;
                position: absolute;
                outline: 1px solid #ccc;
                border-radius: 1rem;
                @include options();
                li{
                    cursor: pointer;
                }
                &.open{
                    height: auto;
                }
            }
        }

    }
}

// section - cont01
.left-wrap{
    &>section{
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 2.5rem;
        margin-top: 3rem;
        padding: 2rem;
        width:calc(100% / 12 * 8 - 20px);
        height: calc(100vh - 41rem);
        transition: all 0.5s;
        position: absolute;
        left: 0;
        bottom: 0;
        &.expand{
            background-color: #fff;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 3;
            height: calc(100vh - 8rem);
            header{
                .btn{
                    &::before{
                        content: '↙';             
                    }
                }
            }
            section{
                ul{
                    li{
                        min-width: auto;
                    }
                }
                .projects:not([data-year="2024"]):not([data-year="Show all"]){
                    article{
                        width: calc(100% / 12);
                        @for $i from 1 through 12{
                            &[data-month='#{$i}']{
                                margin-left: calc(((100% - 2.5rem) / 12) * (#{$i} - 1));
                            }
                        }
                    }
                }
            }
        }
        header{
            align-items: center;
            position: relative;
            h2{
                font-size: 2.5rem;
                line-height: 4rem;
                span{
                    font-size: 14px;
                }
            }
            ul{
                line-height: 2rem;
                height: 2rem;
                overflow: hidden;
                outline: 1px solid #ccc;
                border-radius: 1rem;
                text-align: center;
                position: absolute;
                right: 4rem;
                top: 1rem;
                padding: 0 3.5rem 0 2rem;
                background-color: #fff;
                z-index: 1;
                @include options(){
                    font-size: 1.5rem;
                };
                li{
                    line-height: 2rem;
                    font-size: 1.4rem;
                    cursor: pointer;
                }
            }
            .btn{
                line-height: 2rem;
                cursor: pointer;
                color: transparent;
                width: 3rem;
                height: 2rem;
                overflow: hidden;
                outline: 1px solid #ccc;
                padding: 0 0.5rem;
                border-radius:0.2rem;
                &::before{
                    content: '↗';
                    display: block;
                    color: #969696;
                    font-size: 1.8rem;
                    text-align: center;
                    
                }
            }

        }
        section{
            height: calc(100% - 8rem);
            overflow-y: scroll;
            @include scroll();
            .chart-prog{
                display: flex;
                justify-content: space-between;
                li{
                    width: calc(100% / 3);
                    text-align: center;
                    line-height: 2rem;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    background-color: rgba(0,0,0,0.04);
                    &:nth-of-type(odd){
                        background-color: rgba(189, 225, 241, 0.4);
                    }
                }
            }
            .projects{
                @for $i from 1 through 4{
                    &[data-year='202#{$i}']{
                        article{
                            &[data-year='202#{$i}']{
                                display: flex;
                            }
                        }
                    }

                    @if $i < 4{
                        @for $i from 1 through 12{
                            article{
                                &[data-month='#{$i}']{
                                    margin-left: calc((100% / 12) * (#{$i} - 1));
                                }
                            }
                        }
                    }
                    @else{
                        @for $i from 1 through 3{
                            article{
                                &[data-month='#{$i}']{
                                    margin-left: calc(100% / 3 * (#{$i} - 1));
                                }
                            }
                        }
                    }
                }
                &[data-year='Show all']{
                    article{
                        display: flex;
                        @for $i from 2024 through 2017{
                            &[data-year='#{$i}']{
                                margin-left: calc((100% / 4) * (2024 - #{$i}));
                            }
                        }
                    }
                    
                }


                article{
                    overflow: hidden;
                    width: calc(100% / var(--cnt-art));
                    line-height: 4rem;
                    border-radius: 1rem;
                    margin-top: 1rem;
                    position: relative;
                    display: none;
                    &[data-attr="2"]{
                        margin-left: calc((100% / 3 ));
                    }
                    &[data-attr="3"]{
                        margin-left: calc((100% / 3 )*2);
                    }
                    &:hover{
                        box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
                        border-radius: 20px;
                    }
                    .image{
                        color: transparent;
                        font-size: 0;
                        width: 4rem;
                        height: 4rem;
                        background-color: rgb(26, 112, 52);
                        border-radius: 50%;
                        z-index: 0;
                        flex: none;
                    }
                    .texts{
                        margin-left: -2rem;
                        display: flex;
                        column-gap: 0.5rem;
                        padding-left: 2.5rem;
                        padding-right: 1rem;
                        border-radius: 0 2rem 2rem 0;
                        background-color: rgba(255, 99, 71, 0.1);
                        cursor: pointer;
                        width: 100%;
                        @include ellipse;
                        h3{
                           @include ellipse;
                        }
                        .months,.stmonth{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

// right-cont02
.right-wrap{
    width: calc(100% / 12 * 4 - 1.85%);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 2.5rem;
    height: calc(100vh - 8rem);
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:  2rem;
        position: relative;
        h2{
            line-height: 4rem;
            font-size: 2rem;
        }
        ul{
            line-height: 2rem;
            font-size: 1.5rem;
            height: 2rem;
            overflow: hidden;
            position: absolute;
            padding-right: 2rem;
            right: 2rem;
            top: 3rem;
            @include options(){
                right: 0;
            };
            li{
                cursor: pointer;
                text-transform: capitalize;
            }
        }
    }
    section {
        height: calc(100vh - 20rem);
        overflow-y: scroll;
        @include scroll();
        &[data-cat="Personal"]{
            article[data-cat="personal"]{
                display: block;
            }
        }
        &[data-cat="Company"]{
            article:not([data-cat="personal"]){
                display: block;
            }
        }
        article{
            display: none;
            width: 90%;
            margin: 0 auto;
            padding: 2rem 1rem;
            border-bottom: 1px solid #ccc;
            margin-top: 1rem;
            transition: all 0.5s;
            cursor: pointer;
            .texts{
                h3{
                    line-height: 4rem;
                    font-size: 2.4rem;
                    height: 4rem;
                    @include ellipse();
                }
                p{
                    line-height: 2rem;
                    font-size: 1.4rem;
                }
                .btns{
                    display: flex;
                    column-gap: 1rem;
                    line-height: 1.5rem;
                    font-size: 1.2rem;
                    .btn{
                        background-color: #ccc;
                        padding: 0px 4px;
                        border-radius: 1rem;
                        &:nth-of-type(2){
                            background-color: rgba(62, 122, 164, 0.1);
                        }
                    }
                }
            } 
            &.selected{
                border-radius: 2rem;
                background-color: #fff;
                box-shadow: 1.5rem 1.5rem 0.5rem #ccc;
            }
        }
    }
}


@include mob{
    html{
        font-size: max(0.7vw,8px);
        body{
            .wrap{           
                display: block;
            }
        }
    }

    
    .left-wrap {
        width: 100%;
        header{
            display: block;
           width: 100%;
           >article{
            width: 100%;
           }
           .hdr-left{
               video{
                margin: auto;
                right: 0;
               }
           } 
           .hdr-right{
            margin-top: 2rem;
           }
        }
        section{
            display: none;
        }
    }

    .robot-response{
        position: fixed;
        bottom: 2rem;
        z-index: 3;
        &.open{
            width: 100vw;
            height: 100svh;
            bottom: 0;
            .hdr{
                border-radius: 2rem;
            }
        }
        .answer{
            height: calc(100vh - 18rem);
        }
    } 

    .right-wrap{
        width: 100%;
        margin-top: 2rem;
    }

    .detailed-pops{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
    }
}