---
layout: default
---

<style>
  .home{
    font-size: 12px;
    display: flex;
  }
  .home>div{
    width: 50%;
    padding: 20px;
  }
  img{
    width: 15px;
  }
</style>

<div class="home">
  <div>

    <h2>각 기술별 능력</h2>
    
    <img src="https://cdn-icons-png.flaticon.com/512/732/732212.png"/> HTML5
    <ul>
      <li><a href="../junk/2022/05/04/sementic.html">일관성있는 문서 작성</a></li>
      <li><a href="../junk/2022/05/04/sementic.html">직관성있는 문서 작성(시멘틱 태그)</a></li>
      <li><a href="../junk/2022/05/04/webBasic.html">웹표준에 맞는 문서 작성</a></li>
      <li><a href="../junk/2022/05/04/webAcceess.html">웹 접근성을 고려한 문서 작성</a></li>
    </ul>
    
    <img src="https://velog.velcdn.com/images/hqillz/post/c31321f6-03f7-4c26-a704-88d5e7fac4e2/image.png" /> CSS3
     <ul>
      <li><a href="../junk/2022/05/04/selector.html">명확한 선택자 선택</a></li>
      <li><a href="../junk/2022/05/04/grid.html">그리드 기반 반응형/ 적응형 웹 제작</a></li>
      <li><a href="../junk/2022/05/04/zeplin.html">zeplin 활용 신속한 웹 제작</a></li>
      <li><a href="../junk/2022/05/04/flexfloat.html">flex,float,position에 대한 명확한 이해 및 활용</a></li>
      <li><a href="../junk/2022/05/04/actionCss.html">keyframe, hover에 대한 명확한 이해 및 활용</a></li>
    </ul>
    
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Sass_Logo_Color.svg/1280px-Sass_Logo_Color.svg.png" /> SCSS
    <ul>
      <li><a href="../junk/2022/05/06/scssBasic.html">변수, 반복문, 제어문의 명확한 이해 및 활용</a></li>
      <li><a href="../junk/2022/05/04/minimize.html"> css minify compile 환경설정</a></li>
      <li><a href="../junk/2022/05/06/scssBasic.html#mixin--include">minxin , include의 명확한 이해 및 활용</a></li>
      <li><a href="../junk/2022/05/06/scssBasic.html#mediaquery">반응형, 적응형웹스타일 제작</a></li>
    </ul>
    
    <img src="https://blog.kakaocdn.net/dn/og0EI/btreJP5UoW4/dWbF4vtNfhzS5UWq6TLrNk/img.png"/> JavaScript
     <ul>
      <li><a href="../junk/2022/05/06/javascript.html">ES5, ES6기준 명확한 돔탐색</a></li>
      <li>파라미터를 활용한 함수 재활용</li>
      <li>동기, 비동기 절차에 대한 이해</li>
      <li>화살표 함수에 대한 명확한 이해</li>
      <li>자료형(일반, 배열, 오브젝트)에 대한 명확한 이해 </li>
      <li>var, let, const의 명확한 이해 변수 선언</li>
      <li><a href="http://127.0.0.1:4000/junk/2022/05/05/jsminimize.html">minify를 통한 용량 개선</a></li>
      <li>script 배치를 통한 속도 개선</li>
      <li>레퍼런스 없이 동적요소 구현</li>
      <li>반응형 동적요소 구현</li> 
    </ul>
    
    <img src="https://i.pinimg.com/474x/b3/4e/84/b34e848e1f0c59afa5efaa7862cddd5b--jquery-what-s.jpg"/> jquery
    <ul>
      <li><a href="../junk/2022/05/06/javascript.html">명확한 돔탐색</a></li>
      <li>레퍼런스 없이 동적요소 구현</li>
      <li>반응형 동적요소 구현</li> 
      <li>jquery ui, jquery mobile plugin 사용</li>
      <li>jQuery cookie활용</li>
      <li>jQuery load활용</li>
      <li>jQuery ajax통신</li>
    </ul>
    
    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Vue.png"/> Vue.js
    <ul>
      <li>node.js, yarn을 통한 환경설정</li>
      <li>인스턴스와 컴포넌트에 대한 이해</li>
      <li>map, reduce를 통한 react way 이해</li>
      <li>지시자(v-bind , v-for, v-if)에 대한 이해 및 활용</li>
      <li>라우팅에대한 이해 및 활용</li>
      <li>vue를 활용한 instagram webapp 제작</li>
    </ul>
    <img src="https://img1.daumcdn.net/thumb/R300x0/?fname=https://k.kakaocdn.net/dn/bvli5o/btqHEdDYMtM/QcIZomMtIpWM7vhTkBbJkK/img.png"/> Webpack<br>
    <img src="https://docs.microsoft.com/ko-kr/windows/images/nodejs-logo.png"/> Node.js & noSQL<br>


    
  </div>
  <div>
    <h2>사용툴별 능력</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Visual_Studio_Code_1.18_icon.svg/1028px-Visual_Studio_Code_1.18_icon.svg.png"/> Visual Studio Code <br>
    <img src="https://cdn-icons-png.flaticon.com/512/184/184671.png" /> Atom <br>
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" /> Git-hub <br>
    <img src="https://cdn.icon-icons.com/icons2/2699/PNG/512/atlassian_jira_logo_icon_170511.png" /> Jira <br>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Slack_icon_2019.svg/1200px-Slack_icon_2019.svg.png" /> Slack <br>
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/20/Photoshop_CC_icon.png" /> Photoshop<br>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Adobe_Illustrator_CC_icon.svg/2101px-Adobe_Illustrator_CC_icon.svg.png" /> Illustrator<br>
  </div>


</div>
